<div  style="width: 500px;height: 400px;color: red;font-family: Calibri;font-size: 30px;margin-left: 350px;border: 1px solid #BBBBBB">
    <form action="" method="post">
        <br/><br/><br/>
        <br/>
        <span style="margin-left: 50px"></span>
         Do you Really Want to delete All ?
        <span style="margin-left: 50px"></span>
         It will delete all products also....
        <br/>
        <br/>
        
        <span style="margin-left:180px"></span>
        <a href=@Href("~/adminPanel/pages/categories/delAll.cshtml", "yes") >yes</a>
        <span style="margin-left: 10px"></span>
        <a href=@Href("~/adminPanel/pages/categories/delAll.cshtml", "no") >No</a>
        
    
    </form>

</div>