<!--Abbout us page-->
<img src="~/frontEnd/images/aboutUs.jpg" height="120px" width="150px" alt="About us"/> 
<br/>
 <p style="font-family: Verdana;margin-left: 150px;font-size: 20px"> <span style="color: green;font-family: 'Comic Sans MS';font-size: 25px">Eaxy Shopping</span>is a best way to discover the new things around you.. To find out the rates and to buy things on resonable price. </p>
<p style="font-size: 20px">You donot have to spend time for going o a shop and putting your effort. Our motive "Save time, Have more". You can find here almost everything on low cost as compare to the market rates. Alot of variety is present here. Try our things. We have been providing ths service since 2005. and our current rank is amonst the top 10 Ecommerce sites and businesses </p>
