@{
    
    if(Session["username"]==null)
    {
        Response.Redirect("~/frontEnd/pages/login.cshtml");
    }
    var username =  Session["username"];
   
}
<!--Displaying this page to user after login-->
<a href="~/frontEnd/pages/logout.cshtml" style="margin-left: 1000px">Logout</a>
<h3 style="margin-top: 20px;margin-left: 20px;font-family: Calibri;text-decoration: underline">Welcome <span style="font-family: Calibri;font-size: 23px;color: green;">@username</span></h3>
<div >

    <!--View cart-->
    <div id="div1" style="border: 1px solid #BBBBBB;float: left;margin-top: 70px;margin-left: 150px;height: 180px;width:180px ">
           <a href="~/frontEnd/pages/viewCart.cshtml"><img src="~/frontEnd/images/t2.png" height="150px" width="150px" /></a>
           <div style="border: 1px solid #BBBBBB;font-family: Calibri;font-size: 20px;color: black;text-align: center">View cart</div>
    </div>
    <!--Continue shopping-->
    <div id="div2" style="border: 1px solid #BBBBBB;float: left;margin-top: 70px;margin-left: 40px;height: 180px;width:180px ">
           <a href="~/frontEnd/pages/home.cshtml"><img src="~/frontEnd/images/t3.png" height="150px" width="150px"/></a>
           <div style="border: 1px solid #BBBBBB;font-family: Calibri;font-size: 20px;color: black;text-align: center">Continue Shopping</div>
    </div>
    <!--Check out-->
    <div id="div3" style="border: 1px solid #BBBBBB;float: left;margin-top: 70px;margin-left: 40px;height: 180px;width:180px ">
           <a href="~/frontEnd/pages/checkout.cshtml"><img src="~/frontEnd/images/t1.png" height="150px" width="150px"/></a>
           <div style="border: 1px solid #BBBBBB;font-family: Calibri;font-size: 20px;color: black;text-align: center">Check out</div>
    </div>

    @for(int j=0;j<19;j++)
    {
       <br/>     
    }
   
    <p style="color: red;margin-left: 20px">Note: There shoulf be alteast 1 item in your cart to proceed checkout</p>
</div>