<div><h1 style="margin-top: 40px;margin-left: 90px;font-family: 'Comic Sans MS'"><i>Welcome Admin</i></h1></div>

<fieldset style="margin: 20px 300px 20px 300px;font-size: 20px;font-family: Calibri">
     <legend>Jobs</legend>
     <pre style="font-family: Calibri;padding-left: 100px">
       * Categories
                 You can Add category 
                 You can delete category 
                 You can edit category 
                 You can delete all categories

       * Products
                 You can Add product 
                 You can delete product
                 You can edit product
                 You can delete all products
     
     </pre>
</fieldset>

