	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">eaXy Shopping</a></h1>
		</div>
	</div>
	<div id="menu">
		<ul>
			<li><a href="~/frontEnd/pages/home.cshtml">Home</a></li>
			<li><a href="~/frontEnd/pages/Registration.cshtml">Registration</a></li>
			<li><a href="~/frontEnd/pages/login.cshtml">Login</a></li>
			<li><a href="~/frontEnd/pages/aboutUs.cshtml">About Us</a></li>
			<li><a href="~/frontEnd/pages/contactUs.cshtml">Contact Us</a></li>
		</ul>
	</div>
