<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>EaxyShopping</title>
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
    <link href="~/frontEnd/styles/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="~/frontEnd/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/frontEnd/scripts/sc.js"></script>
    <script type="text/javascript" src="~/frontEnd/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/frontEnd/scripts/jquery.poptrox-1.0.js"></script>

     <!--nivo slider for adding slider-->
        <link rel="stylesheet" href="~/frontEnd/scripts/nivo-slider.css" type="text/css" media="screen" />

<script src="~/frontEnd/scripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>

</head>
<body>
    
       <!--consisting of header and left panel-->
      <div id="header-wrapper">
          @RenderPage("~/frontEnd/shared/_header.cshtml")
      </div>
      <div id="main_con" style="height:590px">
          <div id="leftPanel" style="height:540px;width: 20.8%;border: 1px solid #BBBBBB;float: left;" >
                @RenderPage("~/frontEnd/shared/_leftPanel.cshtml")
          </div>
          <div id="contents" style="float: right;width: 79%; height:500px;">
                @RenderBody()
          </div>    

      </div>

      <div id="footer">
          @RenderPage("~/frontEnd/shared/_footer.cshtml")
      </div>

     <script type="text/javascript">
     
$(window).load(function() {
    $('#slider').nivoSlider();
 
});
</script>


   </body>
</html>